/*Aca empieza al sass para mobiles*/

@media only screen and (max-width: 40em) {
  a {
    color: red;
  }
  button.enviarAgregarListar {
    width: 100% !important;
  }
  .contentTitulo {
    height: 42px !important;
    padding: 5px 0 !important;
    border-bottom: 1px solid #d1d1d1 !important;
    h3 {
      padding-left: 0 !important;
      text-align: center;
      font-size: 20px !important;
    }
  }
  .contentFormulario {
    padding-left: .0 !important;
    padding-right: .0 !important;
  }
  /*.labelNameInput {
    font-size: 18px !important;
  }*/
  .noRegistrosIngresados {
    text-align: center !important;
  }
  div.rowModificarEliminar {
    div.successBox,
    div.ErrorBox {
      line-height: 3 !important;
      font-size: 15px !important;
    }
    .no-padding-left {
      padding: 0 !important
    }
    .no-padding-rigth {
      padding: 0 !important
    }
  }
  #comentario, #modalModificarListaN textarea{
    margin-bottom: 20px;
  }
  button.buttonCustomListaN{
    width: 100%;
    height: 40px !important;
    font-size: .9rem !important;
    line-height: 1px !important;
    padding: 0 !important;
  }

  .itemCancha {
    span{
    width: 100%;
    height: 53px !important;
    font-size: .9rem !important;
    line-height: 50px !important;
    padding: 0 !important;
    margin: 0 0 11px 0 !important;
  }
  span.selected{
    font-size: 1.1rem !important;
  }
  }
  .itemDia span{
    height: 44px !important;
    font-size: .9rem !important;
    line-height: 44px !important;
    padding: 0 !important;
    margin: 0 0 11px 0 !important;
  }
  .itemDia{
    max-width: 50% !important;
  }

  div.reveal-overlay {  
    div#modalReserva{
      top: 0 !important;
    }
  }

  #contenidoModal{
    .divSoloHoySemenal{
      padding: 0 .625rem !important;
    }    
  }

  .referenciaColores{
    display: none;
  }
  #successReserva{
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  
}