/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:300,400,600);*/
$font-body: Open Sans, sans-serif;
$font-Droid: Droid Serif, serif;
