@charset "utf-8";
/* CSS Document */

*{margin:0px; border:0px;}
body{margin:0px; font-family:tahoma, verdana; color:#FFFFFF; }

.center{margin:0px auto}

.top{ width:100%; height:35px; background-image:url(../img/bg_black.png); position:absolute; top:70px; z-index:50 }
.sportcenter{ width:100%; height:105px; background-image:url(../img/bg_black.png); position:absolute; top:490px; z-index:50 }

.header{ width:1000px; height:115px; background-image:url(../img/bg_headedr.jpg); background-position:right; background-repeat:no-repeat; position:relative; border-radius:0px 20px 0px 0px;}
.logo{ width:463px; height:64px; position:absolute; top:12px; left:0px; z-index:60;}
.tel{  width:250px; height:23px; background-image:url(../img/tel.png); position:absolute; top:76px; right:10px; z-index:70;}

.cont_1{width:980px; height:340px; background-color:#292929; padding:10px; border-radius:20px 0px 0px 0px; position:relative}
.cont_1 ul{color:#FFFF00; font-size: 24px; line-height:40px; margin-top:20px; list-style-image: url(../img/balon.png) }

.listado{margin:10px 0px 0px 20px; background-color:#555555; border-radius:10px 10px 50px 20px; height:250px; width:490px; 
		 padding:0px 10px 0px 10px; font-family: 'Squada One', tahoma, verdana;}
	 
.mapa{width:520px; height:376px; background-image:url(../img/mapa.png); position:absolute; top:0px; right:0px;}
.foto1{ position:absolute; top:60px; left:10px;}
.foto2{ position:absolute; top:103px; left:351px;}

.dir{margin:25px 0px 50px 20px; color:#FFF; font-size:24px;border-radius:10px; 
	 height:30px; width:600px; padding:0px 10px 0px 10px; line-height:30px;font-family: 'Squada One', tahoma, verdana;}

.cancha{width:980px; height:380px; padding:10px; border-radius:0px 0px 20px 0px; background-image:url(../img/bg_cancha.jpg)}

.nos{width:920px; padding:10px ; font-size:12px; line-height:14px; text-align:left}

.futbol_5{width:460px; height:225px; float:left; font-size:10px; margin:130px 40px 0px 10px;}
.futbol_5 img{border:solid #FFFFFF 1px; margin-right:15px; margin-top:15px; }
.futbol_5 a{text-decoration:none; color:#FFFFFF; font-weight:bold;}  .futbol_5 a:hover{ text-decoration:underline; color:#FFFF00}
.futbol_rapido{width:460px; height:225px; float:left;font-size:10px; margin:130px 0px 0px 0px }
.futbol_rapido img{border:solid #FFFFFF 1px; margin-left:15px; margin-top:15px}
.futbol_rapido a{text-decoration:none; color:#FFFFFF; font-weight:bold;}  .futbol_rapido a:hover{ text-decoration:underline; color:#FFFF00}

.futbol_texto{width:410px; height:90px;text-align:justify; line-height:14px;}

.pie_{width:1000px; height:80px; margin:1px auto 1px auto; font-size:12px; color:#FFFFFF; font-weight:bold; line-height:18px;}
.pie{width:479px; height:60px; border-radius:0px 0px 0px 20px; background-image:url(../img/bg_black.png); padding:10px;}
.pie a{color:#FFFFFF} .pie a:hover{color:#FFFF00}
.pie img{float:left; margin-right:15px;}