

/* Sample 4*/
#box4{
	position:absolute;
}
#box4 div{
	width:720px;
	float:left;
	font-size:10px; text-align:justify; line-height:18px; 
}

#box4 h3, #box4 p, #box4 ul{
	padding:5px 10px;
}
#box4 p{
	text-indent:16px;
}
#box4 img{
	width:200px;
	width:150px;
	float:left;
	margin:10px;
}
#info4{
	background:#fff !important;
	color:red !important;
	cursor:default
}



/* ********************************** */

.thumbs{
	width:54px;
}
.thumbs div{
	display:block;
	width:54px;
	height:41px;
	margin:0px ;
	cursor:pointer;
}

.thumbs div img{
	display:block;
	width:100%;
	height:100%;
	border:none
}

.info{
	width:700px;
	height:50px;
	background:#000;
	position:absolute;
}
.info p, .info h4{
	color:#fff;
	padding:3px 8px;
	font-family:Arial;
}
.info h4{
	font-size:14px;
}
.info h4 a{
	float:right;
	background:#fff;
	color:#000;
	font-size:10px;
	padding:0 3px;
	text-decoration:none
}

.mask1{
	position:relative;
	width:720px;
	height:180px;
	overflow:hidden;
}
.mask2{
	position:relative;
	width:700px;
	height:180px;
	overflow:hidden;
}
.mask3{
	position:relative;
	width:720px;
	height:380px;
	overflow:hidden;
}

span img{
	display:block;
	border:none;
}