@import 'settings/settings';
@import "foundation";
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-forms;
@include foundation-label;
@include foundation-tooltip;
@include foundation-callout;
@include foundation-visibility-classes;
@include foundation-global-styles;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-button;
@include foundation-close-button;
@include foundation-menu;
@include foundation-typography;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-off-canvas;
@include foundation-table;
@include foundation-tabs;
@include foundation-reveal;
@import 'otros/variables';
@import 'otros/small';
@import 'otros/medium';
.no-margin {
  margin: 0 !important
}

.no-padding {
  padding: 0 !important
}

.no-padding-left {
  padding-left: 0 !important
}

.no-padding-rigth {
  padding-right: 0 !important
}

body {
  font-family: Open Sans, sans-serif;
  background-color: #F1F1F1;
}

.contenido {
  background-color: #45679e;
}

.headerContent {
  background-color: #33425B;
  span {
    color: #fff;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 41px;
  }
  i {
    color: #fff;
  }
}

.footerContent {
  background-color: #33425B;
  height: 300px;
}

div.contenidoHomeMonitorear {
  text-align: center;
  margin: 0 0 40px 0;
  .textoEncabezado {
    color: #eee;
    font-size: 36px;
    display: block;
    font-family: 'Muli', sans-serif;
  }
  p {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 36px 0;
    padding: 10px 0 0;
    color: #fff;
  }
  .contentForms {
    position: relative;
    height: 40px;
    display: block;
    #emailMonitoreoDiv {
      display: none;
      input[type="submit"] {
        padding: 14.5px 38px 14px;
      }
    }
    #monitoreoSitioDiv {
      margin-bottom: 20px;
    }
    .formMonitoreo {
      position: absolute;
      width: 100%;
      input[type="text"] {
        font-size: 14px;
        height: 48px;
        line-height: 24px;
        padding: 12px;
        width: 57%;
        margin: 0 10px 0 0;
        display: inline-block;
        transition: border linear 0.2s, box-shadow linear 0.2s;
      }
      input[type="submit"] {
        background-color: #65b934;
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        padding: 14.5px 30px 14px;
        color: #fff;
        border: 0;
        cursor: pointer;
      }
    }
  }
  .homeSuccessMon,
  .homeErrorMon {
    width: 60%;
    margin-left: 20%;
  }
}

body div div nav.top-bar {
  background-color: transparent;
  margin: 20px 0 20px 0;
  section.top-bar-section {
    ul.right {
      li {
        background-color: transparent;
        a {
          padding: 0 15px;
          background-color: transparent;
          font-family: 'Work Sans', sans-serif;
          font-weight: 600;
          letter-spacing: 1.3px;
          &:hover {
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.top-bar-section {
  ul.sigupUL {
    background-color: #65b934;
    border-radius: 6px;
    border-style: solid;
    border-width: 1.2px;
    border-color: #A7FF83;
    margin-left: 15px;
    a {}
  }
  ul.loginUL {
    a {
      margin-top: 2px;
    }
  }
}

.ErrorBox {
  border: 1px solid #A22E2E;
  border-radius: 4px;
  background-color: #A53131;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.successBox {
  border: 1px solid #37963c;
  border-radius: 4px;
  background-color: #3FA745;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  a {
    font-weight: 600;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bodyLoginSignup {
  background-color: #45679e;
  .help-text {
    color: #A53131;
    font-size: 11px;
  }
}

.contenidoFondoLoginSigup {
  min-height: 100vh;
  position: relative;
  .contenidoLoginSigup {
    background-color: #fff;
    border-radius: 7px;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
  }
  .headerDivLogin {
    border-radius: 7px 7px 0 0;
    padding: 40px 10px;
    text-align: center;
    background-color: #33425B;
    h2 {
      color: #fff;
      font-size: 26px;
      font-family: 'Muli', sans-serif;
    }
    span {
      color: #eee;
      font-size: 18px
    }
  }
  .contentCenter {
    padding-top: 30px;
    padding-bottom: 20px;
    .email_pass {
      background-color: #f1f5f9;
      border: 1px solid #d5dde8;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 4px;
      font-size: 15px;
      padding: 10px;
    }
    .link_pss_acc {
      color: #337ab7;
      text-decoration: none;
      font-size: 12px;
    }
    .loginBtn {
      width: 100%;
      padding: 10px;
      background-color: #65b934;
      color: #fff;
      border: 1px solid #65b934;
      border-radius: 4px;
      font-weight: bold;
      margin-bottom: 5px;
      cursor: pointer;
    }
    
  }
}
button.enviarAgregarListar {
  width: 100%;
  margin-top: 10px;
}
.contentFormulario {
  padding-left: 32px;
  padding-top: 20px;
  select {
    background-image: none;
    margin-bottom: 0.5rem;
  }
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    color: #666;
  }
}

select {
  background-image: none;
  margin-bottom: 1rem;
}

.labelNameInput {
  margin-top: 5px;
  //font-size: 16px;
    color: #444;
}

.contentTitulo {
  background-color: #555;
  height: 52px;
  padding: 10px 0;
  border-bottom: 2px solid #d1d1d1;
  h3 {
    margin-top: 0;
    padding-left: 30px;
    font-size: 21px;
    color: #eee;
  }
}

.buttonCustomSuccess {
  border: 1px solid #30b25f;
  color: #333 !important;
}

/*MENU-----------------------------*/

ul.menuPrincipal,
div#offCanvas {
  background: #121212;
  font-size: 0.8125rem;
  font-weight: bold;
  li.menuActive {
    background-color: #1779ba !important;
  }
  li.liPrincipal {
    a {
      &::after {
        border-color: #eee transparent transparent;
      }
    }
  }
  li {
    a {
      color: #eee;
      &:hover {
        background: black;
      }
    }
  }
  ul.menuHijo {
    margin-left: 0;
    li {
      background-color: #252525;
      a {
        padding: 0.7rem 1rem 0.7rem 2rem;
        &:hover {
          background: #1e1e1e;
        }
      }
    }
    li.menuActive {
      a {
        &:hover {
          background: #1779ba;
        }
      }
    }
  }
}

/*---------------------------------*/

div.title-bar-left {
  background-color: #333333;
  color: #eee;
  padding: 7px;
  font-size: 18px;
  span {
    float: right;
    padding-right: 10px;
    font-weight: 600;
  }
}

h2.tituloMenu {
  display: none;
}

/*Oculto el menu cuando es una pantalla grande apra mostrarlo de forma estático*/

@media only screen and (min-width: 64em) {
  div#offCanvas {
    visibility: visible;
    transform: translate(0, 0);
    border-right: 2px solid #121212;
    h2.tituloMenu {
      color: #eee;
      font-size: 22px;
      padding-left: 1rem;
      border-bottom: 2px solid #eee;
      padding-bottom: 10px;
      display: block;
      padding-top: 10px;
      font-weight: 600;
    }
  }
  div.ocultarEnPc {
    display: none;
  }
}

/*----------------------------------------------------------------- */

/*----------------- Listado de elementos---------------------------*/

.divComoTr {
  border: 1px solid $light-gray;
  background-color: #fff;
  color: #444;
  line-height: 4;
}

.divAbajoClass {
  background-color: $light-gray;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  input[type="text"] {
    margin-bottom: 5px;
  }
}

.table-expand {
  margin-top: 1rem;
  td {
    color: $dark-gray;
  }
  tr {
    border: 1px solid $light-gray;
    background-color: #fff;
    color: #444;
    line-height: 3;
  }
  .text-right {
    padding-right: 3rem;
  }
}

.btnModificarEliminar {
  width: 50%;
}

.rowModificarEliminar {
  padding: 21px 0px 10px 0px;
  .divContentSuccess {
    padding-left: 0 !important;
    button {
      width: 100%;
      margin-bottom: 0 !important;
    }
  }
  .divContentSuccessModificarCancha {
    button {
      width: 100%;
      margin-bottom: 0 !important;
    }
  }
  .divContentAlert {
    padding-right: 0 !important;
    button {
      width: 100%;
      margin-bottom: 0 !important;
    }
  }
  div.successBox,
  div.ErrorBox {
    padding: 0 1rem !important;
    margin: 3px 0;
  }
}

div.rowModificarEliminar {
  div.successBox,
  div.ErrorBox {
    line-height: 3 !important;
  }
}

.noRegistrosIngresados {
  color: #777;
  font-size: 20px;
  font-style: italic;
  text-align: left;
}

// this is where the magic happens
.table-expand-row-content {
  display: none;
}

.table-expand-row-content {
  &.is-active {
    display: table-row;
  }
}

span.colapseExpandIcon {
  float: right;
  margin-right: 12px;
}

.table-expand-row {
  cursor: pointer;
}

.table-expand-row-nested {
  background-color: $light-gray;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.tituloTablaTr {
  border-bottom: 2px solid #666 !important;
  font-weight: 600;
}

/*-----------------------------------------------------------------*/

/*-----------------Contenido del agregado de la lista negra--------*/

.contenidoAgregarListaNegra {
  background-color: #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  border: 3px dashed #aaa;
  display: none;
}

.itemCancha {
  padding: 0 .33rem 0 .33rem;
  span {
    background-image: url(../static/img/cancha.jpg);
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    height: 126px;
    text-align: center;
    line-height: 126px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-position: center;
    font-weight: 600;
    cursor: pointer;
    background-size: 104%;
    margin-bottom: 20px;
    border: 4px solid #444;
    &:hover {
      font-size: 22px;
    }
  }
}

div#containerDias {
  span.selected {
    font-weight: 600;
    border-width: 2px;
    border-color: #666;
  }
}

div#containerCanchas {
  span.selected {
    font-size: 22px;
    box-shadow: 3px 3px 3px #808080;
    border-color: #E8A50C;
  }
}

.itemDia {
  max-width: 13%;
  padding: 0 .33rem 0 .33rem;
  span {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 100%;
    line-height: 68px;
    height: 70px;
    margin: 0 0 20px 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    &:hover {
      background: #fafafa;
      border-color: #999;
      color: #23282d;
    }
    &:focus {
      background: #f7f7f7;
      color: #555;
    }
  }
}

button.buttonCustomListaN {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0 0 10px 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
  }
  &:focus {
    background: #f7f7f7;
    color: #555;
  }
}

div.buttonCustomListaN {
  text-align: right;
}

#myInput {
  background-image: url('../static/images/searchicon.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
  height: 46px;
}

/*-----------------------------------------------------------------*/

.reveal-overlay {
  overflow: auto !important;
}

#modalReserva {
  top: 25px !important;
  overflow: auto !important;
  min-height: 90%;

  h3{
    color: #333;
    text-align: center;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 9px;
  }

  span.separadorFechas{
    padding: 0 5px;
  }

  #ayudaFechaDesdeHasta{
    font-size: 11px;
  }

  #contentFechaDesdeHasta{
    display: none;
  }
}

#modalListaN{
  h3{
    color: #333;
    text-align: center;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 9px;
  }
}

table{
  font-size: 12px;
  thead tr {
    th {}
  }

  .fa-plus-circle{
    color: #2ea55a;
    font-size: 18px;
    cursor: pointer;
  }
  .fa-edit{
    color: #F9A518;
    font-size: 18px;
    cursor: pointer;
  }

  .fa-trash-alt, .fa-trash{
    color: #C54346;
    font-size: 17px;
    margin-left: 8px;
    cursor: pointer;

  }
  tbody tr {
    td {}
  }
}

.contentReservas{
  .borderTop{
    border-top: 1px dashed #999;
  }
  h4{
    font-size: 18px;
    color: #333;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 13px;
    float: left;

    small{
      color: #666;
      font-style: italic;
      font-size: 12px;
      float: right;
      line-height: 24px;
      padding-left: 5px;
    }
  }
}

#contenidoModal{
  .divSoloHoySemenal{
    padding: 0 .9375rem;
  }
  button.soloDia{
    width: 50%;
    border-radius: 5px 0 0 5px;
    margin-top: 20px;
    border-right: 1px solid;
  }
  button.semanal{
    width: 50%;
    border-radius: 0 5px 5px 0;
    margin-top: 20px;
  }

  .dpFechas{
    margin-bottom: 0;
  }

  i.far.fa-calendar-alt{
    color: #444;
  }

  label.labelDpFecha{
    color: #444;
  }

  input, select, textarea{
    color: #555 !important;
  }

  textarea#comentarioReserva{
    margin-bottom: 15px;
  }
.requerido{
  color: red;
}
}

.float-right{
  float: right;
}

.buttonReserva{
  width: 100%;
}

tr.soloDia{
  background-color: #FFFFCC !important;
}

tr.cumpleanos{
  background-color: #CCFFBB !important;
}

.referenciaColores{
  float: right;
  padding-top: 20px;
  span{
    font-size: 12px;
    color: #666;
    float: right;
    margin: 0 10px;
  }
  .colorSoloDia{
    background-color: #FFFFCC;
    height: 15px;
    width: 23px;
    float: right;    
    border: 1px solid #bbb;
  }
  .colorCumple{
    background-color: #CCFFBB;
    float: right;
    height: 15px;
    width: 23px;
    border: 1px solid #bbb;
  }
  
}
#successReserva{
  width: auto;
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center;
}

input[type="checkbox"]{
  margin: 0;
}
.labelJugo{
  line-height: 1.6;
}

#dpFechaHistorial, #dpFechaCumple{
  margin-bottom: 0;
}